cargo-features = ["codegen-backend"]
[package]
name = "obsidian_to_anki"
version = "0.1.0"
edition = "2024"

[dependencies]
reqwest = "0.12.15"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
